@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?wlvcui');
	src:url('fonts/icomoon.eot?wlvcui#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?wlvcui') format('truetype'),
		url('fonts/icomoon.woff?wlvcui') format('woff'),
		url('fonts/icomoon.svg?wlvcui#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
	content: "\e900";
}
	.icon-mail:hover{color: #F5BC1A;}
.icon-google-plus:before {
	content: "\e901";
}
.icon-facebook:before {
	content: "\e902";
}
	.icon-facebook:hover{color: #536DFE;}
.icon-instagram:before {
	content: "\e903";
}
	.icon-instagram:hover{color: #B99A78;}
.icon-twitter:before {
	content: "\e904";
}
	.icon-twitter:hover{color: #5EA9DD;}
.icon-dropbox:before {
	content: "\e905";
}
.icon-github:before {
	content: "\e906";
}
	.icon-github:hover{color: #AB47BC;}
.icon-menu:before {
	content: "\e907";
}

